In [1]:
import pandas as pd
import numpy as np
import re
import sklearn
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [4]:
data = pd.read_csv('training.csv', encoding='ISO-8859-1')

In [6]:
data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [6]:
data.columns = ['sentiment', 'id', 'date', 'query', 'user', 'text']
data = data[['sentiment', 'text']]

data.head()

   sentiment                                               text
0          0  is upset that he can't update his Facebook by ...
1          0  @Kenichan I dived many times for the ball. Man...
2          0    my whole body feels itchy and like its on fire
3          0  @nationwideclass no, it's not behaving at all....
4          0                      @Kwesidei not the whole crew

In [7]:
data['sentiment'] = np.where(data['sentiment']==4, 1, 0)
data.tail()

C:\Users\Admin\AppData\Local\Temp\ipykernel_9480\1352868210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sentiment'] = np.where(data['sentiment']==4, 1, 0)

         sentiment                                               text
1599994          1  Just woke up. Having no school is the best fee...
1599995          1  TheWDB.com - Very cool to hear old Walt interv...
1599996          1  Are you ready for your MoJo Makeover? Ask me f...
1599997          1  Happy 38th Birthday to my boo of alll time!!! ...
1599998          1  happy #charitytuesday @theNSPCC @SparksCharity...

In [8]:
data['text'] = data['text'].apply(lambda x: re.sub('[^a-zA-z0-9\s]', '', x))
data['text']

C:\Users\Admin\AppData\Local\Temp\ipykernel_9480\2421789154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['text'] = data['text'].apply(lambda x: re.sub('[^a-zA-z0-9\s]', '', x))

0          is upset that he cant update his Facebook by t...
1          Kenichan I dived many times for the ball Manag...
2            my whole body feels itchy and like its on fire
3          nationwideclass no its not behaving at all im ...
4                               Kwesidei not the whole crew
                                 ...
1599994    Just woke up Having no school is the best feel...
1599995    TheWDBcom  Very cool to hear old Walt intervie...
1599996    Are you ready for your MoJo Makeover Ask me fo...
1599997    Happy 38th Birthday to my boo of alll time Tup...
1599998    happy charitytuesday theNSPCC SparksCharity Sp...
Name: text, Length: 1599999, dtype: object

In [9]:
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['sentiment'], test_size=0.2, random_state=42)

In [10]:
count_vec = CountVectorizer()
X_train_counts = count_vec.fit_transform(X_train)

tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [11]:
clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [13]:
X_test_counts = count_vec.transform(X_test)
X_test_tfidf = tfidf_transformer.transform(X_test_counts)
y_pred = clf.predict(X_test_tfidf)

In [ ]:
print("Accuracy:", accuracy_score(y_test, y_pred))